<a href="https://colab.research.google.com/github/vasantha3333/Project/blob/main/EDA_chocolate_bar_ratings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Python internship/flavors_of_cacao.csv')
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.head(2)

In [ ]:
df.shape

In [ ]:
df[5:11]

In [ ]:
print(df.head(2))

In [ ]:
df.columns

In [ ]:
df.columns=df.columns.str.replace('\n','_')
df.columns=df.columns.str.lower()
df.columns

In [ ]:
df=df.rename(columns={df.columns[0]:'country',
                    df.columns[1]:'bean_origin',
                    df.columns[8]:'broad_bean_origin'})
df

In [ ]:
df.size

In [ ]:
df[['country','rating']]

       country  rating
0     A. Morin    3.75
1     A. Morin    2.75
2     A. Morin    3.00
3     A. Morin    3.50
4     A. Morin    3.50
...        ...     ...
1790    Zotter    3.75
1791    Zotter    3.00
1792    Zotter    3.50
1793    Zotter    3.25
1794    Zotter    3.00

[1795 rows x 2 columns]

In [ ]:
type(df['rating'])

pandas.core.series.Series

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.iloc[0:4,[2,4]]

    ref cocoapercent
0  1876          63%
1  1676          70%
2  1676          70%
3  1680          70%